*~
.DS_Store
.idea*
.history*
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific
wp-config.php
temp-write-test-*
wp-content/uploads/
wp-content/blogs.dir/
wp-content/wp-rocket-config
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/uploads/wp-migrate-db/*


#host specific
.ftpquota
.well-known

# cache
wp-content/object-cache.php
wp-content/cache*

# plugins not required to track versions for theme
wp-content/plugins/wp-migrate-db-pro-theme-plugin-files*
wp-content/plugins/wp-migrate-db-pro-media-files*
wp-content/plugins/wp-migrate-db-pro*
wp-content/plugins/worker*
wp-content/plugins/wp-rocket*
wp-content/plugins/acf-admin-flexible-content-collapse*
wp-content/plugins/acf-image-aspect-ratio-crop*
wp-content/plugins/acf-theme-code-pro*
wp-content/plugins/advanced-custom-fields-pro*
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/stop-long-comments.php
wp-content/mu-plugins/force-strong-passwords*
wp-content/mu-plugins/wp-migrate-db-pro-compatibility.php
wp-content/mysql.sql

# other plugins not required to track versions for theme
wp-content/plugins/classic-editor
wp-content/plugins/duplicate-page
wp-content/plugins/query-monitor
wp-content/plugins/show-current-template
wp-content/plugins/simple-local-avatars

# wp core (as of 4.9.5)
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
/wp-content/index.php
/wp-content/themes/twentyten
/wp-content/themes/twentyeleven
/wp-content/themes/twentytwelve
/wp-content/themes/twentythirteen
/wp-content/themes/twentyfourteen
/wp-content/themes/twentyfifteen
/wp-content/themes/twentysixteen
/wp-content/themes/twentyseventeen
/wp-content/themes/twentyeighteen
/wp-content/themes/twentynineteen
/wp-content/themes/twentytwenty
/wp-content/themes/twentyone
/wp-content/themes/twentytwo
/wp-content/themes/index.php
/wp-content/plugins/index.php
/wp-content/plugins/akismet*

/wp-content/themes/genesis/*

/wp-content/themes/portfolio-theme/dist
/wp-content/themes/portfolio-theme/node_modules
/wp-content/themes/portfolio-theme/npm-debug.log
/wp-content/themes/portfolio-theme/vendor

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi